{% extends 'base.html' %}
{% block content %}
<section>
	<header class="major">
		<h2>Books</h2>
	</header>

	<div class="posts">
		<article>
			<img src="{{bookdetail.cover_image.url}}" alt="" />
		</article>
		<article>
			<h3 class="card-text">Title: {{bookdetail.title}}</h3>
			<h3 class="card-text">Author: {{bookdetail.author}}</h3>
			<h3 class="card-text">Published Date: {{bookdetail.pub_date}}</h3>
			<p class="card-text">{{bookdetail.description}}</p>
			<ul class="actions">
				<li><a href onClick="openTab(this)" name="/media/{{bookdetail.book_file}}" class="button">Read</a></li>
				<form method="POST" style="margin-top: 1.3em;">
					{{ favourite_form.as_p }}
					Favourite: 
					{% csrf_token %}
					<li><button type="submit" class="button">Add to Favourites</button></li>
			    </form>
			</ul>
		</article>
	</div>

	<!----review-->
	<h3>Review</h3>
	<div class="posts">
		<article>
			{% for comment in comments %}
			<div class="card-text" style="padding: 10px;">
				<p class="font-weight-bold">
					{{ comment.name }}
					<span class=" text-muted font-weight-normal">
						{{ comment.created_on }}
					</span>
					<strong>Rating: {{ comment.rating }}</strong> <span style="color:orange;">
				</p>
				{{ comment.body | linebreaks }}
			</div>
			{% endfor %}
		</article>
		<article>
			<div class="card">
				{% if new_comment %}
				<div class="alert alert-success" role="alert">
					Your comment is awaiting approval
				</div>
				{% else %}
				<h3>Leave a comment</h3>
				<form method="POST" style="margin-top: 1.3em;">
					{{ comment_form.as_p }}
					{% csrf_token %}
					<button type="submit" class="btn btn-primary  btn-lg">Submit</button>
				</form>
				{% endif %}
			</div>
		</article>
	</div>
</section>
<script type="text/javascript">
	function openTab(th) {
		window.open(th.name, '_blank');
	}
</script>
{% endblock %}