{% extends 'base.html' %}
{% block content %}
<section>
    <header class="major">
        <h2>Books</h2>
    </header>   
    <div class="posts">
        {% for books in new %}
        <article>
            <a href="#" class="img-thumbnail"><img src="{{books.cover_image.url}}" alt="" /></a>
            <h3>{{books.title}}</h3>
            <ul class="actions">
                <li><a href="/books/{{books.id}}" class="button">More</a></li>
                <li><a href="{% url 'favourite_add' books.pk %}" class="button">Remove</a></li>
            </ul>
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}