{% extends 'base.html' %}
{% load static %}
{% static 'images' as BaseUrl %}
{% block content %}
<!-- {% if user.is_authenticated %}
<section id="banner">
	<div class="content">
		<header>
			<h2>Recommendations<br />
			</h2>
			<p>Book Title</p>
		</header>
		<p>Description</p>
		<ul class="actions">
			<li><a href="#" class="button big">Learn More</a></li>
		</ul>
	</div>
	<span class="image object">
		<img src="{% static 'images/pic10.jpg' %}" alt="" />
	</span>
</section>
{% endif %} -->
<section>
	<header class="major">
		<h2>Books</h2>
	</header>
	<div class="posts">
		{% for books in books %}
		<article>
			<a href="#" class="img-thumbnail"><img src="{{books.cover_image.url}}" alt="" /></a>
			<h3>{{books.title}}</h3>
			<ul class="actions">
				<li><a href="/books/{{books.id}}" class="button">More</a></li>
			</ul>
		</article>
		{% endfor %}
	</div>
</section>
{% if books.has_other_pages %}
  <ul class="pagination">
    {% if books.has_previous %}
      <li><a href="?page={{ books.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in books.paginator.page_range %}
      {% if books.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if books.has_next %}
      <li><a href="?page={{ books.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
<!-- {% block contentnav %}
  Section -->
<!-- <section>
	<header class="major">
		<h2>New Arrivals</h2>
	</header>
	<div class="mini-posts">
		 {% for books in books %} -->
<!-- <article>
			<a href="/books/{{books.id}}" class="image"><img src="{{books.cover_image.url}}" alt="" /></a>
			<h3>{{books.title}}</h3>
		</article> -->
<!-- {% endfor %} -->
<!-- </div>
</section> -->
<!-- Section -->
<!-- {% endblock %} -->