{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Book Application</title>
    <link rel="stylesheet" href="{% static 'style/styles.css' %}" />
</head>
<body>
    <form class="signup-form" action="login" method="POST">
        {% csrf_token %}
        <!-- form header -->
        <div class="form-header">
          <h1>LOGIN</h1>
        </div>
  
        <!-- form body -->
        <div class="form-body">
  
          <!-- Username and Password -->
          <div class="horizontal-group">
            <div class="form-group left">
              <label for="username" class="label-title">Username *</label>
              <input type="text" name="username" class="form-input" placeholder="enter your user name" required="required" />
            </div>
            <div class="form-group right">
              <label for="Password" class="label-title">Password</label>
              <input type="password" name="password" class="form-input" placeholder="enter your password" required="required" />
            </div>
          </div>
          
        <!-- form-footer -->
        <div class="form-footer">
            <span>* required</span>
            <a href="register" class="btn">Register</a>
            <button type="submit" class="btn">Login</button>
        </div>
    
      </form>
      <div>
        {% for message in messages %}
          <h3> {{message}} </h3>
        {% endfor %}
      </div>
</body>
</html>